//
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.titolo {
    color: white;
}

/////////////// HEADER
.container-header {
    width: 70%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    .container-nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            column-gap: 20px;

            li {
                list-style-type: none;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    padding-bottom: 50px;

                    &:hover {
                        color: #047ff7;
                        border-bottom: 5px solid #047ff7;
                    }
                }
            }
        }
    }
}

///////////////////// MAIN
.container-bg_main-top {
    background-image: url("/images/jumbotron.jpg");
    height: 380px;
    background-size: cover;
    position: relative;

    .label-main-top {
        background-color: #047ff7;
        padding: 10px 20px;
        color: white;
        position: absolute;
        bottom: -20px;
        left: 200px;
    }
}

.container-bg-main-bottom {
    background-color: black;

    .content-dc-series {
        width: 70%;
        margin: auto;
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .container-button {
        display: flex;
        justify-content: center;

        button {
            color: white;
            font-weight: bold;
            background-color: #047ff7;
            padding: 10px 30px;
            margin: 20px 0;
        }
    }
}

.card-fumetto {
    width: calc(100% / 6 - 15px * 5 / 6);

    img {
        width: 100%;
    }

    p {
        color: white;
        font-size: 12px;
        padding: 10px 0;
    }
}

//////////////// FOOTER
.footer-top {
    background-color: #0282f9;

    .container-footer-top {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        color: white;
        padding: 50px 0;

        & div:last-child img {
            width: 50px;
        }

        .container-card {
            display: flex;
            align-items: center;
            column-gap: 10px;

            img {
                height: 50px;
            }

            p {
                font-size: 11px;
            }
        }
    }
}

.footer-center {
    background-image: url("/images/footer-bg.jpg");
    background-size: cover;

    .container-footer-center {
        display: flex;
        width: 70%;
        margin: auto;

        .container-list {
            display: flex;
            column-gap: 40px;
            padding: 30px 0;
            width: 50%;

            h4 {
                padding: 15px 0;
                color: white;
            }

            li {
                list-style-type: none;
                color: #6e7377;
                padding: 2px 0;
                font-size: 11px;
            }
        }
    }

    .container-background {
        background-image: url("/images/dc-logo-bg.png");
        width: 50%;
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 450px;
    }
}

.footer-bottom {
    background-color: #303030;

    .container-footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: auto;
        padding: 25px 0;

        .button-footer button {
            padding: 10px;
            border: 2px solid #047ff7;
            background-color: #303030;
            color: white;
        }

        .follow-footer {
            display: flex;
            align-items: center;
            column-gap: 15px;

            h4 {
                color: #047ff7;
            }

            img {
                width: 25px;
            }
        }
    }
}
